section.parallax__sub
    .faq
        .faq__wrap.row
            .col-6
                h2.h2
                    | Application procedure
                ul
                    li
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li
                        | Morbi dapibus sem et magna porta, a cursus justo eleifend.
                    li
                        | Mauris nec elit sed lacus viverra blandit at ut erat.
                    li
                        | Aenean sollicitudin lacus vel sem convallis semper.
                p
                    a(href="#")
                        | Continue reading
            .col-6
                h2.h2
                    | Got a question?
                p.lead
                    | Please contact recruitment
                p
                    | T. +31 20 123 456 78
                    br
                    |Or send us an email
    .parallax__bg