header.header
    .header__wrap
        .header__burger-menu
            .header__burger-menu__burger
        a.header__logo
            img.header__logo-img(src="img/logo.png", alt='LOGO')
        .header__overlay
            ul.header__menu-list
                li.header__menu-item
                    | HOME
                li.header__menu-item
                    | JOBS
                li.header__menu-item
                    | ABOUT
                li.header__menu-item
                    | DEPARTMENTS
                li.header__menu-item
                    | CONTACT
        form.header__form
            label.header__form-group
                input.header__form-control(placeholder='SEARCH FOR JOB BY KEYWORD')
            button.header__form-button
                span.ion-android-search